body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
}

section#items-list {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    min-height: 500px;
}

footer {
    display: flex;
    justify-content: center;
}
